{% schema %}
{
  "name": "SA - Facebook Posts",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "SA - Facebook Posts",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class='sk-ww-facebook-page-posts' data-embed-id='25439532'></div>
<script src='https://widgets.sociablekit.com/facebook-page-posts/widget.js' async defer></script>
